.Nouvelles-collections{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 100px;
}
.Nouvelles-collections h1{
    color: black;
    font-size: 50px;
    font-weight: 600;
}
.Nouvelles-collections hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background-color: rgb(31, 30, 30);
}
.collection{
   display: flex;
   grid-template-columns: 1fr 1fr 1fr 1fr ;
   margin-top: 50px;
   gap:30px;
}