.navbar{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
    background-color:rgb(243, 237, 229);
    
}
    
.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.nav-logo-name{
    display: grid;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 35px;
    color: rgb(45, 44, 44);
    font-size: 20px;
    
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background-color: brown;
}
.nav-logo-panier{
    display: flex;
    align-items: center;
    gap: 35px;
}
.nav-logo-panier button{
    width: 140px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 75px;
    color: #3d3d3d;
    font-size: 20px;
    font-weight: 500;
    background-color:white ;
    cursor: pointer;
}
.nav-logo-panier button:active{
    background-color:rgb(245, 241, 237);
}
.nav-panier-count{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background-color:rgb(182, 21, 21);
    color:white;
}

ul {
    padding-left: 0;
}

li {
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}
    
.sub-menu li a {
    color: #a18439;
    width: 100%;
}
li:hover {
    cursor: pointer;
    display: block;
}

ul li ul {
    background: rgb(243, 237, 229);
    visibility: hidden;
    position: absolute;
    margin-top: 1rem;
    display: none;
    
}

ul li:hover > ul,
ul li ul:hover {
    visibility: visible;
    display: block;
    
}
