.liste-commandes{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 740px;
    padding: 10px 50px;
    margin: 30px;
    border-radius: 6px;
    background: white;
}

.listecommande-format-main {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 2fr 2fr 2fr 1fr 1fr;
    gap: 10px;
    width: 80%;
    padding: 20px 0px;
    color: #454545;
    font-size: 15px;
    font-weight: 600;
}


.listecommande-format {
    align-items: flex-start;
    font-weight: 500;
    margin-left: 7rem;
   
}

.listecommande-commande-icon{
    height: 80px;
    width: 80px;
}
.listecommande-supp-icon{
    cursor: pointer;
    margin: auto;
}
.listecommande-touslesCommandes{
    overflow-y: auto;
    width: 100%;
}
@media(max-width:800px){
    .liste-commande{
        box-sizing: border-box;
        width: 95%;
        height: 100%;
        padding: 10px 30px;
        margin: 20px auto;
    }
    .listecommandet-format-main{
        padding: 15px 0px;
        color: #454545;
        font-size: 12px;

    }
    .listecommande-commande-icon{
        height: 60px;
        width: 60px;
    }
}


li {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* ajustez selon vos besoins */
    grid-gap:  30px; /* ajustez l'espacement entre les éléments */
  }

  span {

    font-size: 20px;
    font-weight: 300;
  }